<h1 class="display-3">Add a user</h1>

<form #formGroup="ngForm" (ngSubmit)="onSubmit(formGroup.value)">
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" class="form-control" name="name" placeholder="Enter name" ngModel>
    </div>
    <div class="form-group">
      <label for="Last Name">Last Name</label>
      <input type="text" class="form-control" name="last_name" placeholder="Enter last name" ngModel>
    </div>
    <div class="form-group">
      <label for="Job Title">Job Title</label>
      <input type="text" class="form-control" name="job_title" placeholder="Enter job title" ngModel>
    </div>
    <div class="form-group">
      <label for="E-Mail">E-mail</label>
      <input type="email" class="form-control" name="email" placeholder="Enter email" ngModel>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
    <button type="submit" class="btn btn-success"><a routerLink="/">Back</a></button>
  </form>